@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #032541;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--primary-bg-color);
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 0px;
  background-color: var(--secondary-bg-color);
  color: #fff;
}

.header div {
  flex: 1;
}

.header__logo {
  font-size: 20px;
}

.home {
  margin-top: 50px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieList__item {
  padding: 10px;
  text-align: center;
}

.movieDetails {
  max-width: 1250px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.movieDetails > div {
  flex: .5;
}

.movieDetails__poster {
  text-align: center;
}

.movieDetails__info .detail {
    margin: 10px 0;
}

.movieDetails__info .detail span {
    font-weight: bold;
}